
.app > div {
    animation: fadeInDown 0.5s;
}

.book-list {
    padding: 0.3rem;
    background: none;
    border-radius: 1px;
    margin-bottom: 15rem;
    padding-bottom: 4rem;
    z-index: 2;
    /* border-top: 1px solid rgba(59, 59, 59, 0.712); */
}

.list-title {
    font-size: 1.6rem;
    padding: .5rem 1%;
    text-align: left;
    font-weight: 500;
}

.list-title span {
    vertical-align: middle;
}

.type_show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* shang begin */

.shang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.shang img {
    width: 70%;
    margin: 10% auto;
    border-radius: 10px;
}

/* shang end */

/* animation begin */

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}