@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    margin: 0;
}

.mybtn {
    @apply bg-slate-200 text-indigo-900 bg-opacity-60 hover:bg-indigo-800 hover:bg-opacity-80 hover:text-slate-100 dark:bg-slate-400 rounded-md shadow-sm py-1 px-4 mr-4
}

.linear-gradient.inverse {
    background-image: linear-gradient(-45deg, #32c5ff, #b620e0, #f7b500);
}

.linear-gradient {
    background-image: linear-gradient(-45deg, #f70000, #b620e0, #32c5ff);
    background-size: 120% 120%;
    animation: gradient 15s ease infinite;
}

.text-fill-transparent {
    -webkit-text-fill-color: transparent;
}

.input-with-select .el-input-group__prepend {
    color: #000;
    padding: 0 0.7rem;
    font-size: 1.3rem;
}

@layer components {
    .hidden {
        display: none !important;
    }

    .block {
        display: block !important;
    }

    .flex {
        display: flex !important;
    }

    .dark .block {
        display: block;
    }
}

.el-loading-mask {
    background-color: rgba(200, 200, 200, 0.95) !important;
    z-index: 1 !important;
}

.dark .el-loading-mask {
    background-color: rgba(66, 66, 66, 0.95) !important;
}

.el-tabs__item {
    font-size: 1.2rem !important;
    /* padding-left: .8rem !important;
    padding-right: .8rem !important; */
}
.el-tabs__item:hover {
    color: #7C3AED !important;
}
.el-tabs__item.is-active {
    color: #7C3AED !important;
    /* border: #7C3AED 1px solid;
    border-bottom: none;
    border-radius: .5rem;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%; */
}
.el-tabs__active-bar {
    background-color: #7C3AED !important;
}
.el-tabs__nav-wrap::after {
    background-color: #9768e74a  !important;
}
.el-sub-menu .el-sub-menu__icon-arrow {
    position: relative !important;
    right: 0px !important;
    top: 3px !important;
    margin-left: 5px;
    font-size: 13px !important;
}
.el-notification.right {
    right: 16px;
    margin-top: 2.1rem;
}
.w-24\/25 {
    width: 96%;
}